/* intuitivnejsi box-sizing */
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header,
footer,
article,
nav,
aside,
.reklama1,
.reklama2 {
  padding: 20px;
}

header > :first-child,
footer > :first-child,
article > :first-child,
nav > :first-child,
.reklama1 > :first-child,
.reklama2 > :first-child {
  margin-top: 0;
}

header > :last-child,
footer > :last-child,
article > :last-child,
nav > :last-child,
aside > :last-child,
.reklama1 > :last-child,
.reklama2 > :last-child {
  margin-bottom: 0;
}

.hlavicka {
  background-color: #2ecc71;
}
.menu {
  background-color: #e74c3c;
}
.obsah {
  background-color: #f1c40f;
}
.reklama1 {
  background-color: #8e44ad;
}
.reklama2 {
  background-color: mediumturquoise;
}
.paticka {
  background-color: dodgerblue;
}

/* ---------------------------------------------------- */

/*
	Nakóduj stránku podle obrázku zadani-ukolu.jpg.
	Rozložení stránky se mění v breakpointech:
	- 640px
	- 1000px
*/

/* výchozí nastavení */
.kontejner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reklama2 {
  margin-top: 20px;
} 

/* BP 640px */
@media (min-width: 640px) {
.kontejner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu {
  flex: 100%;
}

.obsah {
  display: flex;
  flex-direction: row;
}

.clanek {
  flex: 60%;
}

.reklamy {
  flex: 40%;
}

.reklama2 {
  margin-top: 20px;
}

}

/* BP 1000px */
@media (min-width: 1000px) {
.kontejner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu {
  flex: 25%;
}

.obsah {
  flex: 75%;
  display:flex;
  flex-wrap: wrap;
}

.clanek{
  flex: 100%;
}

.reklamy {
  display: flex;
  align-items: stretch;
 
}

.reklama1 {
  flex: 50%;
  margin-right: 10px;  /* odskok mezi prvky jde řešit i pomocí nastavení gap na rodičovský prvek (reklamy) - nastaví mezeru mezi prvky uvnitř kontejneru - gap: 20px; */
}

.reklama2 {
  flex: 50%;
  margin-left: 10px;
  margin-top: 0;
}

} 